@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    This website uses SendGrid to send email containing link to password reset, but due to certification issues this email might not reach you.
</p>
<p>
    For testing purposes we have added the link here in case you do not get the email.
</p>
<p>
    Please reset your password by <a href="@TempData["link"].ToString()">clicking here</a>
</p>

