@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This website is set up to use SendGrid to send verification email, but due to certification issues you may not recieve the email.
        </p>
        <p>
            We have provided a link to register instead.
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            This website is set up to use SendGrid to send verification email, but due to certification issues you may not recieve the email.
        </p>
        <p>
            We have provided a link to register instead.
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
}
