@model IEnumerable<webserver.Models.DevBlog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid m-2">
    <div class="row">
        <div class="col-12">
            <h1>Developer blog</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <partial name="_DevBlogSummaryPartial" , model="item" />
            }
        </div>
</div>