@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid m-2">
    <div class="row">
        <div class="col-10">
            <h1>Developer blog</h1>
        </div>
        <div class="col-2">
            <a class="nav-link text-light font-weight-bold btn btn-dark" asp-area="" asp-controller="DevBlogs" asp-action="Create">
                New post
            </a>
        </div>
        <div class="container DevBlog" />
    </div>
    <div class="row">
        <button id="previous" class="nav-link text-light font-weight-bold btn btn-dark Previous" type="button">Previous</button>
        <button id="next" class="nav-link text-light font-weight-bold btn btn-dark Next" type="button">Next</button>       
    </div>
</div>


