@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-12">
            <h1>Elder Runes</h1>
        </div>

        <div class="col-12">
            <p>
                <!-- TODO: Make this better -->
                Be amoung the fist gamers to explore the world of Elder Runes. A vast land where mystical creatures,
                unexplored land and epic adventures.
                Magical treasures and items await those who are able to persivere difficulties and overcome challenges.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container DevBlog" />
    </div>
    <div class="row">
        <button id="previous" class="nav-link text-light font-weight-bold btn btn-dark Previous" type="button">Previous</button>
        <button id="next" class="nav-link text-light font-weight-bold btn btn-dark Next" type="button">Next</button>
    </div>
</div>


