@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><span style="font-weight: bold;">Sn&oslash;storm Underholdning - Privacy Policy</span></p>
<p>This Privacy Policy will explain how Sn&oslash;storm Underholdning (We, Us, Our) uses the personal data we collect from you when you use our website or games.</p>
<p><span style="font-weight: bold;">Topics:</span></p>
<ul>
<li>What data do we collect?</li>
<li>How do we collect your data?</li>
<li>How will we use your data?</li>
<li>How do we store your data?</li>
<li>Marketing</li>
<li>What are your data protection rights?</li>
<li>What are cookies?</li>
<li>How do we use cookies?</li>
<li>What types of cookies do we use?</li>
<li>How to manage your cookies</li>
<li>Privacy policies of other websites</li>
<li>Changes to our privacy policy</li>
<li>How to contact us</li>
</ul>
<p><span style="font-weight: bold;">What data do we collect?</span></p>
<p>Sn&oslash;storm Underholdning collects the following data:</p>
<ul>
<li>Personal identification information (Name, email address, phone number, etc.)</li>
</ul>
<p><span style="font-weight: bold;">How do we collect your data?</span></p>
<p>You directly provide Sn&oslash;storm Underholdning with most of the data we collect. We collect data and process data when you:</p>
<ul>
<li>Register online or place an Order for any of out products or services</li>
<li>Voluntarily complete a customer survey or provide feedback via email.</li>
<li>Use or view our website via your browser&rsquo;s cookies.</li>
<li>Use any of our games.&nbsp;</li>
</ul>
<p><span style="font-weight: bold;">How will we use your data?</span></p>
<p>Sn&oslash;storm Underholdning collects your data so that we can:</p>
<ul>
<li>Manage your account.</li>
<li>Email you with special offers on products.</li>
<li>Track your progress in the games we create.</li>
</ul>
<p>Sn&oslash;storm Underholdning will not share your personal information with any third parties.</p>
<p>If Sn&oslash;storm Underholdning needs to process and order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</p>
<p><span style="font-weight: bold;">How do we store your data?</span></p>
<p>Our company securely stores your data on a cloud based hosting service.</p>
<p>Sn&oslash;storm Underholdning will keep your personal information for as long as the games we provide are available for use. Once they are not in use, we will delete your data by wiping the database and all copies.</p>
<p><span style="font-weight: bold;">Marketing</span></p>
<p>Sn&oslash;storm Underholdning would like the opportunity to send you information about products and services of ours that we think you might like.</p>
<p>If you have agreed to receive marketing you may always opt out at a later date.&nbsp;</p>
<p>You have the right at any time to stop Sn&oslash;storm Underholdning from contacting you for marketing purposes.</p>
<p><span style="font-weight: bold;">What are your data protection rights?</span></p>
<p>Sn&oslash;storm Underholdning would like to make sure you are fully aware of all your data protection rights.</p>
<p>Every user is entitled to the following:</p>
<p><span style="font-weight: bold;">The right to access - </span>You have the right to request Sn&oslash;storm Underholdning for copies of your personal data. We may charge you a small fee for this service.</p>
<p><span style="font-weight: bold;">The right to rectification - </span>You have the right to request that Sn&oslash;storm Underholdning correct any information you believe is inaccurate. You also have the right to request Sn&oslash;storm Underholdning to complete information you believe is incomplete.</p>
<p><span style="font-weight: bold;">The right to erasure - </span>You have the right to request that Sn&oslash;storm Underholdning erase your personal data, under certain conditions.</p>
<p><span style="font-weight: bold;">The right to restrict processing - </span>You have the right to request that Sn&oslash;storm Underholdning restrict the processing of your personal data, under certain conditions.</p>
<p><span style="font-weight: bold;">The right to object to processing&nbsp; - </span>You have the right to object to Sn&oslash;storm Underholdning&rsquo;s processing of your personal data, under certain conditions.</p>
<p><span style="font-weight: bold;">The right to data portability - </span>You have the right to request thatSn&oslash;storm Underholdning transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:snostorm.underholdning@gmail.com" target="_blank" rel="noopener"><span style="font-weight: bold;">snostorm.underholdning@gmail.com</span></a></p>
<p><span style="font-weight: bold;">What are cookies?</span></p>
<p>Cookies are text files placed on your computer to collect standard Internet Log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
<p>For further information, visit allaboutcookies.org.</p>
<p><span style="font-weight: bold;">How do we use cookies?</span></p>
<p>Sn&oslash;storm Underholdning uses cookies in a range of ways to improve your experience on our website including:</p>
<ul>
<li>Keeping you signed in.</li>
<li>Understanding how you use our website.</li>
</ul>
<p><span style="font-weight: bold;">What types of cookies do we use?</span></p>
<p>Our website uses these types of cookies:</p>
<ul>
<li>Functionality - Sn&oslash;storm Underholdning uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies may be used.&nbsp;</li>
</ul>
<p><span style="font-weight: bold;">How to manage cookies</span></p>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
<p><span style="font-weight: bold;">Privacy policies of other websites</span></p>
<p>Our website may contain links to other websites. Our privacy policy applies only to our website and games, so if you click on a link to another website, you should read their privacy policy.</p>
<p><span style="font-weight: bold;">Changes to our privacy policy</span></p>
<p>Sn&oslash;storm Underholdning keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 02.12.2020.</p>
<p><span style="font-weight: bold;">How to contact us</span></p>
<p>If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
<p>Email us at: <a href="mailto:snostorm.underholdning@gmail.com" target="_blank" rel="noopener"><span style="font-weight: bold;">snostorm.underholdning@gmail.com</span></a></p>